@media screen and (min-width: 980px) {
    .articlesCollection {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-column-gap: 1rem;
        grid-row-gap: 3.5rem;
    }    
}