.article {
    text-align: left;
    border: 1px solid var(--article-border);
    border-radius: 4px;
    min-height: 19.5rem;
}

.articleContent {
    height: 100%;
    display: flex;
    padding: 1.625rem;
    flex-direction: column;
    justify-content: space-between;
}

.articleHeader {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.link {
    text-decoration: none;
    color: inherit;
    display: block;
    width: fit-content;
}

.tag {
    padding: 0.2rem 00rem 0.2rem 0rem;
    border-radius: 4px;
    font-size: 0.75rem;
    color: var(--tag-text);
    background-color: var(--tag-bg);
    text-transform: capitalize;
    width: 4.6875rem;
    text-align: center;
}

.tag:hover {
    color: var(--tag-hover-text);
    background-color: var(--tag-hover-bg);
}

.date {
    font-size: 0.8125rem;
    color: var(--date-text);
    text-transform: uppercase;
}

.titleLink {
    color: var(--main-text);
    text-decoration: none;
}

.titleLink:hover {
    color: #0071E3;
}

.title {
    margin-block-start: 0.9rem;
    margin-block-end: 0.9rem;
    color: var(--main-txt);
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.button {
    background-color: transparent;
    color: #0071E3;
    border: 1px solid #0071E3;
    border-radius: 4px;
    padding: 0.5rem 1.15rem 0.5rem 1.15rem;
    font-size: 0.9375rem;
    font-family: inherit;
    font-weight: 400;
    cursor: pointer;
    overflow: hidden;
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0;
}

.button:hover > .buttonImg {
    transform: translate(.3rem);
}

.buttonImg {
    margin-bottom: -0.11rem;
    margin-left: 0.25rem;
    height: 0.875rem;
    width: 0.875rem;
    transition: transform .2s ease-in-out;
}

.preview {
    font-size: 1.0625rem;
    line-height: 1.5rem;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    color: var(--second-text);
}

.articleImageWrapper {
    width: 100%;
    height: 12.5rem;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    background-color: lightgray;
    overflow: hidden;
    position: relative;
}

.articleImage {
    width: 100%;
    object-fit: cover;
    transition: transform .1s ease-in-out;
}

.articleImage:hover {
    transform: scale(1.02);
}

@media screen and (min-width: 640px) {
    .article {
        min-height: unset;
    }

    .title {
        font-size: 1.6875rem;
        line-height: 2rem;
    }    

    .preview {
        font-size: 1.0625rem;
    }

}

@media screen and (min-width: 980px) {
    .title {
        font-size: 1.6875rem;
        line-height: 2rem;
    }

    .preview {
        font-size: 1.0625rem;
    }

    .articleContent {
        height: 20rem;
    }

    .button {
        margin-top: 0;
    }

}