.footer {
    width: 100%;
    margin-bottom: 3.3125rem;
    text-align: left;
}

.copyright {
    font-size: 0.8125rem;
    color: var(--footer-text);
}

.contactsContainer {
    margin-bottom: calc(6.875rem - 1.4375rem);
}

.contactsRow {
    display: flex;
    margin-bottom: 1.4375rem;
}

.contactsRow a {
    font-size: 1rem;
    color: var(--second-text);
}

.contactsIcon {
    padding: 0 0.625rem 0 0.625rem;
}