.footer {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    text-align: left;
    font-size: 0.9375rem;
    padding-bottom: 3rem;
    margin-top: 4rem;
}

.footerHeader {
    width: 100%;
}

.footerList {
    width: 50%;
}

.footer a {
    text-decoration: none;
    color: var(--main-text);
    line-height: 1.8rem;
}

@media screen and (min-width: 640px) {
    .footer {
        justify-content: space-between;
    }

    .footerHeader {
        width: 20rem;
    }

    .footerList {
        width: 8rem;
    }
}