:root {
  --background: #fefefe;
  --main-text: rgba(0, 0, 0, .87);
}

[data-theme='dark'] {
  --background: rgb(45, 45, 45);
  --main-text: #e7e8eb;
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: var(--background);
  font-size: 1em;
  font-display: swap;
  color: var(--main-text);
  -webkit-font-smoothing: "auto";
}

h1 {
  margin-block-end: 0;
  margin-block-start: 0;
  font-weight: 600;
}

h4 {
  font-weight: 600;
}

p {
  margin-block-end: 0;
  margin-block-start: 0;
}

/* Custom classes */

.wrapper {
  width: calc(100% - 2rem);
  height: fit-content;
  padding: 0 1rem 0 1rem;
}

@media screen and (min-width: 640px) {
  .wrapper {
    max-width: 42.5rem;
  }
}

@media screen and (min-width: 980px) {
  .wrapper {
    max-width: 64.125rem;
  }
}