:root {
  --background: #fefefe;
  --main-text: rgba(0, 0, 0, .87);

  --tag-text: #0071E3;
  --tag-bg: rgba(0, 113, 227, 0.21);
  --date-text: rgba(0, 0, 0, .33);

  --newsletter-bg: #212932;
  --newsletter-text: #e7e8eb;
}

[data-theme='dark'] {
  --background: rgb(45, 45, 45);
  --main-text: #e7e8eb;

  --tag-text: rgb(156, 195, 219);
  --tag-bg: rgb(62, 74, 82);
  --date-text: #7D848D;

  --newsletter-bg: #dadee0;
  --newsletter-text: rgba(0,0,0, .87);
}

html, body {
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: var(--background);
  font-size: 1em;
  color: var(--main-text);
}

h1 {
  margin-block-end: 0;
  margin-block-start: 0;
  font-weight: 600;
  text-align: left;
}

h2 {
  margin-block-end: 0;
  margin-block-start: 0;
  font-weight: 600;
  font-size: 2rem;
  text-align: left;
}

h3 {
  margin-block-end: 0;
  margin-block-start: 0;
  font-weight: 600;
  font-size: 1.5625rem;
  text-align: left;
}

p {
  margin-block-end: 0;
  margin-block-start: 0;
}

/* Custom classes */

.wrapper {
  width: calc(100% - 2rem);
  height: fit-content;
  padding: 0 1rem 0 1rem;
}

@media screen and (min-width: 640px) {
  .wrapper {
    max-width: 42.5rem;
  }
}

@media screen and (min-width: 980px) {
  .wrapper {
    max-width: 64.125rem;
  }
}