.header {
    margin-top: 3.125rem;
}

.logo {
    font-weight: 600;
    font-size: 1.5625rem;
}

.slogan {
    font-size: 0.8935rem;
    max-width: 23ch;
    text-align: center;
}

.navHeader {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8125rem;
    justify-content: space-between;
}

.navRoutes {
    text-align: left;
}

.navRoutes {
    margin-top: 1.875rem;
    display: flex;
    padding-inline-start: 0;
    gap: .7rem;
    align-items: center;
    overflow-x: scroll;
}

.navLink {
    text-decoration: none;
    color: var(--main-text);
    margin-left: .7rem;
    margin-right: .7rem;
    font-size: 0.9375rem;
}

.themeButton {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
}

.currentRoute {
    background-color: #0071E3;
    border-radius: 12px;
    padding: .35rem .55rem .35rem .55rem;
    margin: 0 .15rem 0 .15rem;
    color: #fff;
}

@media screen and (min-width: 640px) {
    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .navHeader {
        align-items: flex-start;
        gap: 0;
    }

    .slogan {
        max-width: none;
    }

    .logo {
        font-size: 1.375rem;
    }

    .navRoutes {
        margin-top: 0;
    }
}