.newsletter {
    margin-left: -0.9375rem;
    margin-right: -0.9375rem;
    margin-top: 4rem;
    width: calc(100% + 1.2rem);
    background-color: var(--newsletter-bg);
    color: var(--newsletter-text);
    position: relative;
    border-radius: 12px;
    text-align: left;
}

.newsletterContent {
    padding-left: 1.4375rem;
    padding-right: 1.4375rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    position: relative;
}

.slogan {
    font-size: 1.875rem;
    font-weight: 600;
    margin-block-end: 1.5625rem;
    margin-block-start: 0;
    width: 11ch;
}

.input {
    width: calc(100% - 1.5rem);
    font-size: 1.0625rem;
    color: #000;
    padding: 0.75rem;
    border-radius: 4px;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.label {
    font-size: 0.9375;
    font-weight: 600;
}

.subslogan {
    margin-block-end: 1.5625rem;
    margin-block-start: 0;
    font-size: 0.9687rem;
}

.img {
    position: absolute;
    right: 1.4375rem;
    top: .6rem;
    height: 6.5rem;
    width: 6.5rem;
}

.buttonsContainer {
    display: flex;
    justify-content: space-between;
}

.button {
    background-color: #0071E3;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 0.5rem 1.15rem 0.5rem 1.15rem;
    font-size: 0.9375rem;
    font-family: inherit;
    font-weight: 400;
    cursor: pointer;
    overflow: hidden;
}

.button:hover {
    background-color: #1187FF;
}

@media screen and (min-width: 980px) {
    .newsletter {
        margin-left: -0.9375rem;
        margin-right: -0.9375rem;
        width: calc(100% + 1.2rem);
    }

    .newsletterContent {
        padding: 3.8rem;
    }

    .slogan {
        width: fit-content;
        margin-block-end: .7rem;
    }

    .input {
        max-width: calc(24.6875rem - 1.5rem);
    }

    .buttonsContainer {
        max-width: 24.6875rem;
    }

    .img {
        top: 50%;
        right: 6rem;
        transform: translate(0, -50%);
        height: 16.8125rem;
        width: 16.8125rem;
    }

    .label {
        font-size: 1.0625rem;
    }
}

@media screen and (min-width: 1150px) {
    .newsletter {
        margin-right: -3.8rem;
        margin-left: -3.8rem;
        width: calc(100% + 7.6rem);
    }
}