.newsletter {
    text-align: left;
    position: relative;
}

.newsletterSlogan {
    max-width: 62ch;
    font-size: 1.0625rem;
    line-height: 1.5rem;
    margin-bottom: 1.4625rem;
    color: var(--second-text);
}

.form {
    display: flex;
    gap: 1.625rem;
}

.emailInput {
    width: 100%;
    padding: 0.5rem 0.5rem 0.5rem 2.35rem;
    font-size: 1rem;
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, .33);
}

.inputContainer {
    width: 22.675rem;
    position: relative;
    box-sizing: border-box;
    margin-right: 2.8rem;
    margin-bottom: 12px;
}

.inputIcon {
    position: absolute;
    top: 50%;
    margin-top: -9px;
    pointer-events: none;
    left: 0.7rem;
    overflow: hidden;
    overflow-clip-margin: hidden;
}

.submitButton {
    color: #fff;
    background-color: #0071E3;
    border: none;
    padding-left: 1.175rem;
    padding-right: 1.175rem;
    cursor: pointer;
    font-size: 0.9375rem;
    border-radius: 4px;
    font-family: inherit;
    max-height: 2.25rem;
}

.image {
    display: none;
}

.loading {
    pointer-events: none !important;
    background-color: rgb(179, 179, 179) !important;
    color: rgba(0, 0, 0, 0.871) !important;
}

@media screen and (min-width: 640px) {
    .submitButton {
        padding-left: 1.875rem;
        padding-right: 1.875rem;
    }
}

@media screen and (min-width: 980px) {
    .image {
        position: absolute;
        right: 0;
        display: block;
        top: 0;
    }
}