.tagWrapper {
    text-align: left;
}

.tagContainer {
    margin-bottom: 4rem;
}

.tagContainer {
    display: flex;
    gap: 1rem;
}

.sectiontitle {
    font-size: 1.6875rem;
    margin-block-start: 0;
    margin-block-end: 0.9rem;
    color: var(--main-txt);
    overflow: hidden;
    font-weight: 600;
}

.tag {
    background-color: #a0a5ab;
    border-radius: 12px;
    padding: 0.35rem 0.55rem 0.35rem 0.55rem;
    color: #fff;
    cursor: pointer;
    width: fit-content;
}
